@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@tailwind components;
@tailwind base;
@tailwind utilities;

html {
	scroll-behavior: smooth;
	--olimpo_yellow: #e4aa15;
	--olimpo_blue: #14222b;
}

details summary {
	list-style-type: none;
} /* Firefox */

details summary::-webkit-details-marker {
	display: none;
} /* Chrome */

details summary::marker {
	display: none;
}

*:focus {
	outline: none;
}

::selection {
	color: var(--olimpo_blue);
	background: #e5aa158e;
}
